@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:500,700,300,100&subset=latin,latin-ext);
		
		body{
			padding-top:100px;
			min-height:600px;

		}
		.navbar-brand{
			font-weight: bold;
		}
		.navbar-brand span{
			font-weight: 100;
		}
.roles ul a{
	
				float:right;
				display:block;
				position:relative;
				font-size:14px;
				padding:4px;
				margin-top:-5px;
				
			}
			.roles{
				margin-top:15px;
			}
			
			/*add events */
			.time select:disabled{
				opacity:0.3;
			}
			/*equipment*/
			.equipment .nav ul{
				list-style:none;
				padding:0px;
			}
			.equipment .nav ul li{
				display:inline-block;
			}
			.equipment.single .nav{
				float:right;
			}

			/*file input */
			.btn-file {
			    position: relative;
			    overflow: hidden;
			   
			}
			.btn-file input[type=file] {
			    position: absolute;
			    top: 0;
			    right: 0;
			    min-width: 100%;
			    min-height: 100%;
			    font-size: 100px;
			    text-align: right;
			    filter: alpha(opacity=0);
			    opacity: 0;
			    outline: none;
			    background: white;
			    cursor: inherit;
			    display: block;
			   
			}
			
			/*nowe polepszone*/
			:focus{
				box-shadow:0 0 0 0 rgba(0,0,0,0)!important;
				border-color:rgb(27,28,28)!important;
				outline:none!important;
				outline-offset: 0px!important;
				
			}
			a:focus{
				border:none!important;
				color:rgb(255,255,255)!important;
			}
			.dropdown ul a{
				color:rgb(255,255,255)!important;
			}
			.dropdown ul a:hover{
				color:rgb(27,28,28)!important;
			}
			.row a:focus, .events_list a:focus{
				border:none!important;
				color:rgb(27,28,28)!important;
			}
			.back:focus{
				color:rgb(27,28,28)!important;
			}
			h2{
				position:relative;
				padding-bottom: 25px;
			}
			h2 div{
				height:33px;
				width:33px;
				position: relative;
				float:left;
				margin-right:5px;
				
				
			}
			.btn{
				position: relative;
				height:40px;
				line-height: 30px;
				padding:4px;
				width:150px;
			}
			.btn.btn-primary{
				height:30px;
				line-height: 20px;
				background: none;
			}
			img.icon{
				height:100%;
				position:relative;
				margin-left:5px;
				padding:3px;
				
			}
			.profil .info a:hover{
				color:#fff!important;
			}
			.btn.back{
				margin-left:0px;
				width:auto;
				line-height:36px;
				height:42px;
				
			}
			.counted{
		    	    			display:block!important;
		    	    		}
			.icon.border{
				border:1px solid #fff;
				border-radius: 100%;
			}
			.btn.back .icon{
				margin-right:10px;
				margin-left:0px;
				float:left;
			}
			.btn.back:hover{
				color:rgb(27,28,28);
			}
			.btn-danger {
				border:none !important;
			}
			/*event single*/
			.event.single .title h2{
				float:left;
				margin-right:25px;
				margin-top:5px;
				margin-bottom:5px;
				padding:0px;
			}
			.event.single .title{
				float:none;
			}
			.event.single .title .btn{
				border:2px solid rgb(27,28,28);
				color:rgb(27,28,28);
				width:230px;
				background:none;
			}
			.event.single .title .btn.p1{
				border-color:green;
				color:green;
			}
			.event.single h4{
				margin-bottom:3px;
				margin-top:25px;
			}
			.event.single p{
				margin-top:3px;
				margin-bottom:3px;
			}
			.event.single .nav.top div{
				position:relative;
				padding-left:0px;
				padding-right:5px;
			
			}
			.event.single .nav.top .btn{
				width:100%!important;
				border:none !important
			}
			.event.single table tr td{
				height:34px;
				line-height:34px;
			}
			.event.single table tr td .btn{
				height:34px;
				margin:0px;
				line-height: 34px;
				padding:0px;
				
			}
			.event.single #sprzet tr td input{
				height:34px;
				line-height: 28px;
				padding:2px;
				margin-top:2px;
			}
			.event.single #sprzet tr td input.form-control{
				width:50px;
				float:left;
				margin-right:10px;
			}
			.event.single #sprzet tr td input[type="checkbox"]:before{
				height:30px;
			}
			/*home*/
			.home .row{
				margin-top:10px;
				margin-bottom:8px;
			}
			/*calender nav*/
			.nav_calender{
				font-size:1.5em;
				margin:20px auto;
				text-align: center;
				clear:both;
			}
			.nav_calender a{
				margin:5px;
				display: inline-block;
				width:40px;
				height:30px;
			}
			.nav_calender a:hover{
				text-decoration: none;
			}
			.nav_calender span{
				width:170px;
				display:inline-block;
				text-transform:capitalize;
			}
		     /*calender all list*/
			.events_list  ul.list{
				position:relative;
				list-style:none;
				width:100%;
				padding:0;
				margin:0;
			}
			.events_list .list .day.week{
				display: none;
				height:0px;
				
			}
			.events_list .list .day>div{
			
				display: block;
				clear:both;
				border-bottom:1.3px #1b1c1c solid;
				padding:20px 0px;
			}
			.events_list .list .day p.hiddena{
			}
			.events_list .list .day .number{
				display: none;
			}
			.events_list .list .day .week_day{
				float:left;
					height:30px;
					display:block;
					line-height:30px;
					margin:0px;
					padding:0px;
					margin-right:20px;
					width:170px;
			}
			.events_list .list .day .event{
				display:block;
				clear:both;
				padding-left:30px;
			}
			.events_list .list .day .event.add{
				display:block;
padding-left:0px;
				float:none;
				clear: none;
				
			}
			/*calender all*/
			.events_list .calender{
				position:relative;
				list-style:none;
				width:100%;
				padding:0;
				margin:0;
			}
			.events_list .calender .day{
				float:left;
				width:14.2%;
				display:block;
				
				position:relative;
				height:165px;
				
				
			}
			.events_list .calender .day>div{
				background:rgba(57,59,59,0.1);
				margin:2.5px;
				padding:4px;
				height:160px;
				position:relative;
				overflow: auto;
				
			}
			.events_list .calender .day.week{
				height:25px;
				background:rgba(57,59,59,0.1);
				font-size:16px;
				line-height:21px;
				margin:0px;
				margin-bottom:5px;
				padding:2px;
				padding-left:5px;
			}
			.events_list .calender .day p.hiddena{
				visibility: hidden;
			}
			.events_list .calender .day .number{
				margin-bottom:5px;
			}
			.events_list .calender .day.week{
				display: block;
			}
			.events_list .calender .day .week_day{
				display:none;
			}
			.events_list .calender .day .event{
				display:block;
				opacity:0.8;
			}.events_list .calender .day .event:hover{
				opacity:1;
			}
			.events_list .calender .day .event.add{
				display:none;
				position:absolute;
				bottom:5px;
				
			}
			.events_list .calender .day:hover .event.add{
				display:block;
			}
			/*nav profil*/
			.profil ul{
				width:300px;
				padding-bottom:0px;
			}
			.profil img{
				height:50px;
				width:50px;
				margin:0 auto;
			}
			.profil li{
				margin:0px;
				padding:0px;
			}
			.profil .btn{
				width:150px;
				height:40px;
				line-height:30px;
				padding:5px;
				margin:0px;
			}
			.profil .btn .icon{
				height:100%;
				width:auto;
				margin-left:10px;
			}
			.profil .info a, .profil .info a:hover{
				background:none;
				color:#ffffff;
			}
			/*alerts*/
			.alerts>a{
				width:40px;
				height:40px;
				margin:15px;
				border-radius:100%;
				padding:5px!important;
				text-align: center;
				line-height: 30px;
				border:1px solid #fff;
				
			}
			.alerts .icon{
				height:30px;
				width:30px;
				margin:0px auto;
				padding:0px;
				text-align: center;
				display:block;
				
			}
			.alerts>a .count{
				position:absolute;
				display:block;
				height:15px;
				width:15px;
				line-height:15px;
				background:#ffffff;
				color:rgb(27,28,28);
				right:-2px;
				bottom:-2px;
				border-radius:100%;
				font-size:10px;
				
			}
			.alerts>a.act .count{
				display:block;
			}
			.alerts>a.act{
				background:rgb(213,53,53);
				border:1px solid rgb(213,53,53);
			}
			.alerts>a:focus{
				border:1px solid #fff!important;
				background:none!important;
			}
			.alerts:focus>a{
				border:1px solid #fff!important;
				background:none!important;
			}
			.alerts>a:hover{
				background:none!important;
			}
			.alerts>a.act:hover{
				background:rgb(213,53,53)!important;
				border:1px solid rgb(213,53,53)!important;
			}
			.alerts ul{
				width:400px;
				max-height:500px;
				overflow:auto;
				padding:10px;
			}
		
			.alerts ul li a{
				font-weight:bold;
				 color:rgba(255,255,255,0.99);
			}
			.alerts ul li{
			     color:rgba(255,255,255,0.7);
			     border-bottom:1px solid rgba(255,255,255,0.7);
			     height:70px;
			     position:relative;
			     padding-right:10px;
			}
			.alerts h4{
				font-weight:normal;
			}
			.alerts .btn{
				background:rgb(255,255,255);
				color:rgb(27,28,28);
				border-radius:3px;
				height:30px;
				line-height:30px;
				margin-left:0px;
				margin-right:5px;
				padding:0px;
			}
			.alerts button.close{
				position:absolute;
				top:18px;
				color:rgb(255,255,255);
				right:4px;
				font-weight:normal;
			}
			.alerts.dropdown ul a:hover, .alerts.dropdown ul a:focus{
				color:rgb(255,255,255)!important;
			}
			.alerts ul::-webkit-scrollbar-track
			{
				border-radius: 0px;
				background-color: rgb(27,28,28);
			}
			
			.alerts ul::-webkit-scrollbar
			{
				width: 7px;
				background-color: #F5F5F5;
			}
			
			.alerts ul::-webkit-scrollbar-thumb
			{
				border-radius: 0px;
				background-color: rgba(255,255,255,0.8);
			}
			footer{
				margin-top:30px;
				background-color: rgb(27,28,28);
				color:rgb(255,255,255);
				padding-top:30px;
				padding-bottom:20px;
				
				
			}
			body>.container{
				min-height: 400px;
				
			}
				body>.container.alert{
					min-height:0px;
				}
			
			.loader,
			.loader:before,
			.loader:after {
			  background: #ffffff;
			  -webkit-animation: load1 1s infinite ease-in-out;
			  animation: load1 1s infinite ease-in-out;
			  width: 1em;
			  height: 4em;
			}
			.loader:before,
			.loader:after {
			  position: absolute;
			  top: 0;
			  content: '';
			}
			.loader:before {
			  left: -1.5em;
			  -webkit-animation-delay: -0.32s;
			  animation-delay: -0.32s;
			}
			.loader {
			  text-indent: -9999em;
			  margin: 88px auto;
			  position: relative;
			  font-size: 11px;
			  -webkit-transform: translateZ(0);
			  -ms-transform: translateZ(0);
			  transform: translateZ(0);
			  -webkit-animation-delay: -0.16s;
			  animation-delay: -0.16s;
			}
			.loader:after {
			  left: 1.5em;
			}
			@-webkit-keyframes load1 {
			  0%,
			  80%,
			  100% {
			    box-shadow: 0 0 rgb(100,100,100);
			    height: 4em;
			  }
			  40% {
			    box-shadow: 0 -2em rgb(100,100,100);
			    height: 5em;
			  }
			}
			@keyframes load1 {
			  0%,
			  80%,
			  100% {
			    box-shadow: 0 0 rgb(100,100,100);
			    height: 4em;
			  }
			  40% {
			    box-shadow: 0 -2em rgb(100,100,100);
			    height: 5em;
			  }
			}
